@import url("https: //fonts.google.com/specimen/Poppins");

*{
    color: black;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: rgb(141, 134, 134);
}
button{
    height: 50px;
    align-content: center;
}
hr{
    height: 3%;
    align-items: center;
    height: 8px;
    background-color: black;
    border-radius: 30px;
    width: 60%;
}

.box{
    background-color: #6666;
    width: 150px;
    height: 150px;
        border: 15px;
        padding: 50px;
        margin: 20px;
}
.port{
    display: flex;
    background-color: transparent;
    width: 100%;
    height: 25%;
            border: 0px;
                padding: 0px;
                margin: 0px;
    justify-content: center;
}
/* w3school credit for navabar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    color: white
}

li {
    float: left;
    background-color: #6666;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
}

li a:hover {
    background-color: #555;
    color: white
}

.box-container{
    display: flex;
    background-color: #555;
    justify-content: center;
    height: 150px;
    flex-wrap: wrap;

}

.frames {
    background-color: black;
    color:white;
    margin: 70px;
    padding: 20px;
    font-size: 30px;
    width: 150px;
    height: 150px;
    justify-content: center;
}

.about-container{
    display: flex;
    background-color: transparent;
    justify-content: center;

}

.about-container > div {
    background-color: transparent;
    color:transparent;
    margin: 30px;
    padding: 20px;
    font-size: 30px;
    width: 100%;
    height: 100%;
    justify-content: center;
}

img:hover{
    transform: scale(140%);
}

#index{
    border-radius:10%;
    height: 40%;
    width:10%;
}