body{
    /* background-image: url("./images/portbackground.jpg");
    background-size:cover; */
    color: black;
}

button{
    height: 50px;
    align-content: center;
}
h1{
    text-align: center;
}
h4{
    text-align: center;
}
